* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Montserat, sans-serif;
}
.main {
  width: 100%;
  height: 750px;
  background-image: url("../img/main-photo.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding: 1px;
  background-size: cover;
}
.blue {
  color: #2F80ED;
  font-weight: bold;
  mix-blend-mode: difference;
}
.header-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 270px);
  height: 60px;
  margin: 30px auto;
  color: white;
}
.header-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
.header-nav ul.menu {
  justify-content: space-evenly;
}
.header-nav ul li {
  margin-right: 25px;
}
.header-nav ul li:hover {
  font-weight: bold;
  cursor: pointer;
}
.header-nav__citys {
  flex-grow: 3;
}
.header-nav__menu {
  flex-grow: 5;
}
.header-nav button {
  flex-grow: 1;
}
button.sign-up {
  height: 42px;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 50px;
  width: 160px;
  color: #2F80ED;
  cursor: pointer;
}
.main-body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: calc(100% - 270px);
  height: calc(100% - 87px);
  margin: 0 auto;
}
.main_part {
  width: 50%;
  height: 100%;
  flex-grow: 1;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #FFF;
  height: 60%;
}
.main-content .date {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: medium;
}
.main-content .title > pre {
  font-size: 40px;
  font-weight: bold;
}
.main-content .title__footer {
  font-size: 18px;
}
.main-content .main-sign-up {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  width: 192px;
  height: 50px;
  background-color: #64E2CD;
  color: #FFF;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 0 15px #64e2cd80;
}
.main-comment {
  position: relative;
}
.main-comment .container {
  position: absolute;
  left: 55px;
  bottom: 75px;
  width: 231px;
  height: 231px;
  border-radius: 50%;
  background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
  box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2F80ED;
}
.main-comment__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 153.12%;
}
.main-comment__numbers {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 153.12%;
}
.main-comment__content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143.55%;
  /* or 20px */
  text-align: center;
}
.main-comment__comments {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
}
.sectionTwo {
  width: 1175px;
  min-height: 526px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.sectionTwo-left {
  flex: 1 1 516px;
}
.sectionTwo-left h2 {
  font-size: 2em;
  font-weight: bold;
  width: 77%;
}
.sectionTwo-right {
  flex: 1 1 659px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.sectionTwo-right .cards-title {
  color: #2F80ED;
  font-size: 24px;
  margin-bottom: 14px;
}
.sectionTwo-right .card-body {
  color: #636363;
  line-height: 143.55%;
}
.sectionTwo-right .sectionTwo-cards {
  width: 313px;
  height: 244px;
  box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  z-index: 10;
}
.sectionTwo-right .cards-overlay {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 52px;
  padding-top: 32px;
  padding-right: 25px;
  z-index: 10;
}
.cards-shadow {
  display: none;
  width: 270px;
  height: 182px;
  position: absolute;
  top: 50px;
  left: 22px;
  background: rgba(47, 128, 237, 0.2);
  filter: blur(50px);
  border-radius: 10px;
  z-index: 1;
}
.sectionTwo-cards:hover .cards-shadow {
  display: block;
}
.sectionThree {
  width: 100%;
  min-height: 591px;
  background: url("../img/3-back.svg") no-repeat top right;
  margin-top: 100px;
  padding: 1px;
  position: relative;
}
.sectionThree__container {
  width: 875px;
  margin: 0 auto;
  margin-top: 130px;
}
.sectionThree__container h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 124.41%;
}
.sectionThree__cards {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.sectionThree__cards .item {
  width: 225px;
  min-height: 195px;
  margin-right: 100px;
}
.sectionThree__cards .item:last-child {
  margin-right: 0;
}
.sectionThree__cards .item h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  color: #2F80ED;
}
.sectionThree__cards .item p {
  margin-top: 9px;
  font-size: 14px;
  line-height: 143.55%;
  color: #636363;
}
.sectionThree__elipse {
  position: absolute;
  width: 231px;
  height: 231px;
  border-radius: 50%;
  right: -37px;
  top: -24px;
  background: linear-gradient(-134deg, #0083ff 0, #d582ff 100%);
  box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
  filter: blur(20px);
}
/*# sourceMappingURL=main.css.map */